@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<div class="container disable" style="width:fit-content">
    <form method="post" action="@Url.Action("Login", "Login")">
        @Html.AntiForgeryToken()

        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" id="username" name="username" class="form-control" />
            <label class="form-label" for="username">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="password" name="password" class="form-control" />
            <label class="form-label" for="password">Password</label>
        </div>

        <!-- Remember me and Forgot password -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="rememberMe" name="rememberMe" checked />
                    <label class="form-check-label" for="rememberMe"> Remember me </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary mb-4" onclick="@Url.Action("Index", "Home")">Login</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="@Url.Action("SignUp", "SignUp")">Register</a></p>
            <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>
    </form>
   </div>